[submodule "tcl"]
	path = tcl
	url = https://github.com/tcltk/tcl.git
	branch = master
[submodule "tk"]
	path = tk
	url = https://github.com/tcltk/tk.git
	branch = master
[submodule "itcl"]
	path = itcl
	url = https://github.com/tcltk/itcl.git
	branch = master
[submodule "itk"]
	path = itk
	url = https://github.com/tcltk/itk.git
	branch = master
[submodule "binutils-gdb"]
	path = binutils-gdb
	url = git://sourceware.org/git/binutils-gdb.git
	branch = master
